.header {
    width: 100%;
    height: 68px;
    background-color: #FAD0C9;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
}

.header-ul {
    height: 100%;
    width: 100%;
    max-width: 1040px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

@media (max-width: 875px) {
    .header-li {
        display: none;
    }

    .hamburger {
        display: block !important;
    }
}

a {
    text-decoration: none;
    color: rgba(55, 55, 55, 0.5);
}

a:hover {
    color: rgba(55, 55, 55, 1);
}

.header-li-wrap {
    display: flex;
}

.header-li {
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.header-li-title {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.hamburger {
    display: none;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.burger-menu {
    display: none;
    position: absolute;
    top: 68px;
    width: 100%;
}

.burger-menu__item {
    position: relative;
    left: -20px;
    padding: 0 20px;
    height: 30px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.burger-menu__item:hover {
    background-color: rgb(152, 152, 152);
    color: #fff;
}